<h1>Super hiper form</h1>
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" type="text" matInput />
    <mat-error *ngIf="form.get('name')?.hasError('required')"
      >This field is required</mat-error
    >
    <mat-error *ngIf="form.get('name')?.hasError('minlength')"
      >This field is required to have at least a few characters</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Surname</mat-label>
    <input formControlName="surname" type="text" matInput />
    <mat-error *ngIf="form.get('surname')?.hasError('required')"
      >This field is required</mat-error
    >
    <mat-error *ngIf="form.get('surname')?.hasError('maxlength')"
      >Not too long?</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput />
    <mat-error *ngIf="form.get('password')?.hasError('required')"
      >This field is required</mat-error
    >
    <mat-error *ngIf="form.get('password')?.hasError('pattern')"
      >Enter nicer password</mat-error
    >
  </mat-form-field>
  <button color="primary" mat-raised-button>Save that</button>
</form>
